
@{
    ViewBag.Title = "HobiEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Deneyim Ekleme Sayfası</h4>
<form class="form-group" method="post">

    <label>Açıklama1</label>
    <textarea name="Aciklama1" class="form-control" rows="5"></textarea>
    
    <label >Açıklama2</label>
    <textarea name="Aciklama2" class="form-control" rows="5"></textarea>
    <input type="t" name="name" value="" />
    <button type="submit" class="btn btn-dark mt-3">Kaydet</button>
</form>


