@using CV.Models.Entity
@model List<TblHobilerim>

<!-- Interests-->


<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Hobiler</h2>@foreach (var item in Model)
        {

    <strong><p>-@item.Aciklama1</p></strong>
            <p class="mb-0">@item.Aciklama2</p>
            <br />
        }
        </div>
</section>

<hr class="m-0" />
