@using CV.Models.Entity
@model List<TblDeneyimler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | DataTables</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    
    <link href="~/AdminLTE-master/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- DataTables -->

    <link href="~/AdminLTE-master/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <link href="~/AdminLTE-master/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />

    <link href="~/AdminLTE-master/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <!-- Theme style -->

    <link href="~/AdminLTE-master/dist/css/adminlte.min.css" rel="stylesheet" />
</head>         
   <section class="content-header mt-3">
       <div class="container-fluid">
           <div class="row mb-2">
               <div class="col-sm-6">
                   <h1>Deneyimlerim</h1>
               </div>
           </div>
       </div>
   </section>

   <section class="content">
       <div class="container-fluid">
           <div class="row">
               <div class="col-12">
                   <div class="card">
                       <div class="card-header">
                           <h3 class="card-title">Deneyimler Tablosu</h3>
                       </div>
                       <div class="card-body">
                           <table id="example2" class="table table-bordered table-hover">
                               <thead>
                                   <tr>
                                       <th>ID</th>
                                       <th>Başlık</th>
                                       <th>Alt Başlık</th>
                                       <th>Tarih</th>
                                       <th>Sil</th>
                                       <th>Düzenle</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   @foreach (var item in Model)
                                   {
                                       <tr>
                                           <td>@item.ID</td>
                                           <td>@item.Baslik</td>
                                           <td>@item.AltBaslik</td>
                                           <td>@item.Tarih</td>
                                           <td>
                                               <a href="/Deneyim/DeneyimSil/@item.ID"
                                                  class="btn btn-danger">Sil</a>
                                           </td>
                                           <td>
                                               <a href="/Deneyim/DeneyimDuzenle/@item.ID"
                                                  class="btn btn-success">Düzenle</a>
                                           </td>
                                       </tr>
                                   }
                               </tbody>
                               @*<tfoot>
                                   <tr>

                                       <th>ID</th>
                                       <th>Başlık</th>
                                       <th>Alt Başlık</th>
                                       <th>Tarih</th>
                                       <th>Sil</th>
                                       <th>Düzenle</th>
                                   </tr>
                               </tfoot>*@

                           </table>
                           <a href="/Deneyim/DeneyimEkle/" class="btn btn-primary mt-3 ml-2">Yeni Deneyim Ekle</a>
                       </div>
                       <!-- /.card-body -->
                   </div>
               </div>
           </div>
           <aside class="control-sidebar control-sidebar-dark">
               <!-- Control sidebar content goes here -->
           </aside>
       </div>
   </section>

   <!-- jQuery -->
   <script src="~/AdminLTE-master/plugins/jquery/jquery.min.js"></script>
   <!-- Bootstrap 4 -->

   <script src="~/AdminLTE-master/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
   <!-- DataTables  & Plugins -->
   
   <script src="~/AdminLTE-master/plugins/datatables/jquery.dataTables.min.js"></script>

   <script src="~/AdminLTE-master/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
   <script src="~/AdminLTE-master/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
   <script src="~/AdminLTE-master/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
   <script src="~/AdminLTE-master/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
   <script src="~/AdminLTE-master/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
   <script src="~/AdminLTE-master/plugins/jszip/jszip.min.js"></script>
   <script src="~/AdminLTE-master/plugins/pdfmake/pdfmake.min.js"></script>
   <script src="~/AdminLTE-master/plugins/pdfmake/vfs_fonts.js"></script>
   <script src="~/AdminLTE-master/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
   <script src="~/AdminLTE-master/plugins/datatables-buttons/js/buttons.print.min.js"></script>
   <script src="~/AdminLTE-master/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
   <!-- AdminLTE App -->
   <script src="~/AdminLTE-master/dist/js/adminlte.min.js"></script>
   <!-- AdminLTE for demo purposes -->
   <script src="~/AdminLTE-master/dist/js/demo.js"></script>
   
   
