@using CV.Models.Entity
@model List<TblSertifikalarım>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Timeline</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- AdminLTE css -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper mt-5">
        <!-- Content Wrapper. Contains page content -->
        <!-- Main content -->
        <section class="content col col-12">
            <div class="container-fluid">

                <!-- Timelime example  -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- The time line -->
                        <div class="timeline">
                            <!-- timeline time label -->
                            <div class="time-label">
                                <a href="~/Sertifika/SertifikaEkle"><span class="btn btn danger bg-gradient-blue">Yeni Sertifika Ekle</span></a>
                            </div>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->

                            @foreach (var item in Model)
                            {
                                <div>
                                    <i class="fas fa-award bg-purple"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fas fa-clock"></i>@item.Tarih </span>
                                        <h3 class="timeline-header"><a href="#"></a>@item.Baslik</h3>

                                        <div class="timeline-body">
                                            @item.Aciklama
                                        </div>
                                        <div class="timeline-footer">
                                            <a href="~/Sertifika/SertifikaDuzenle/@item.ID" class="btn  btn-sm bg-fuchsia ">Düzenle</a>
                                            <a href="~/Sertifika/SertifikaSil/@item.ID" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
                                        </div>
                                    </div>
                                    <br />
                                </div> 
                             }
                               
                                <!-- END timeline item -->
                            </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.timeline -->

        </section>
        <!-- /.content -->
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
</body>
</html>