@using CV.Models.Entity
@model List<TblDeneyimler>

<!-- Experience-->
@foreach (var item in Model)
{


<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Deneyim</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@item.Baslik</h3>
                <div class="subheading mb-3">@item.AltBaslik</div>
                <p>@item.Aciklama</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@item.Tarih - Present</span></div>
        </div>
    </div>
</section>
}
<hr class="m-0" />