@using CV.Models.Entity
@model List<TblHobilerim>

<!-- Interests-->
@foreach (var item in Model)
{


<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Hobiler</h2>
        <p>@item.Aciklama1</p>
        <p class="mb-0">@item.Aciklama2</p>
    </div>
</section>
}
<hr class="m-0" />
