@using CV.Models.Entity
@model List<Tbliletisim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Timeline</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- AdminLTE css -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper mt-5">
        <!-- Content Wrapper. Contains page content -->
        <!-- Main content -->
        <section class="content col col-12">
            <div class="container-fluid">
                <!-- Timelime example  -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- The time line -->
                        <div class="timeline">
                            <!-- timeline time label -->
                            <div class="time-label">
                                <a href="~/Iletisim/IletisimEkle"><span class="btn btn danger bg-gradient-blue">İletisim</span></a>
                            </div>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            @foreach (var item in Model)
                            {
                                <div>
                                    <i class="fas fa-envelope bg-purple"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fas fa-clock"></i>@item.Tarih </span>
                                        <h3 class="timeline-header"><a href="#"></a>@item.AdSoyad&nbsp;&nbsp;&nbsp;&nbsp;@item.Mail </h3>

                                        <div class="timeline-body">
                                            <div><h4>@item.Konu</h4></div><hr />
                                            <div>@item.Mesaj</div>
                                        </div>
                                        <div class="timeline-footer">    
                                            <a href="~/Iletisim/IletisimSil/@item.ID" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Sil</a>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            }

                            <!-- END timeline item -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.timeline -->

        </section>

    </div>
</body>
</html>

